[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
isort = "*"
flake8 = "*"
mypy = "*"
pyset = "*"
pytest-cov = "*"
pre-commit = "*"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
pandas = "*"

[requires]
python_version = "3.7.7"
